.grid-container{
    display: grid;
    grid-template-areas:     
    'toolbar    toolbar toolbar toolbar'
    'menu       content content content' 
    'menu       content content content'  ;
}

.grid-toolbar{
    grid-area: toolbar;
    background-color: blanchedalmond;
    border: 1px solid black;
    margin: 5px;
}

.grid-menu{
    grid-area: menu;
    background-color: lightgreen;
    border: 1px solid black;
    margin: 5px;
}

.grid-content{
    grid-area: content;
    background-color: lightblue;
    border: 1px solid black;
    margin: 5px;
}